@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
	display: flex;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

div, p {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 10px;
	padding-bottom: 3px;
}

.button {
	display: flex;
	margin: 10px;
	background-color: lightblue;
	text-align: center;
}
